# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/

# Envs
.venv/
venv/
.env
.env.*

# Data (keep raw/processed out of git unless tiny)
data/raw/
data/processed/

# Notebooks
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
